<% unless @chat.messages.empty? %>
<div id="chatroom_container" class="rounded row bg-dark text-light">
  <div id="room_container" class="col-md-12 col-sm-12 bg-dark text-light">
    <div id="single_room">
    <h4 class="text-center">
        <%= @chat.title %>
    </h4>
    <div id="messages" data-controller="scroll">
        <%= render @chat.messages.order(created_at: :asc) %>
    </div>
    <%= render partial: 'new_message' %>
    </div>
  </div>
</div>
<% else %>
<div class='card-body bg-dark rounded'>
  <div class="row">
    <div class='col-md-4 col-sm-4' >
      <h5>Chat: <%= @chat.title %></h5>
    </div>
  </div>
  <div class="container container-gpt">
    <h2>Chat GPFAKE</h2>
    <div class="card-box">
      <div>
        <h4>Examples</h4>
        <div class="card-square hv">
          <p>Explain quantum computing in simple terms" →</p>
        </div>
        <div class="card-square hv">
          <p>Got any creative ideas for a 10 year old's birthday?" →</p>
        </div>
        <div class="card-square hv">
          <p>How do I make an HTTP request in Javascript?" →</p>
        </div>
      </div>
      <div>
        <h4>Capabilities</h4>
        <div class="card-square">
          <p>Remembers what user said earlier in the conversation</p>
        </div>
        <div class="card-square">
          <p>Allows user to provide follow-up corrections</p>
        </div>
        <div class="card-square">
          <p>Trained to decline inappropriate requests</p>
        </div>
      </div>
      <div>
        <h4>Limitations</h4>
        <div class="card-square">
          <p>May occasionally generate incorrect information</p>
        </div>
        <div class="card-square">
          <p>May occasionally produce harmful instructions or biased content</p>
        </div>
        <div class="card-square">
          <p>Limited knowledge of world and events after 2021</p>
        </div>
      </div>
    </div>
  </div>  
  <%= render partial: 'new_message' %>
</div>
<% end %>